{% extends "base2.html" %}
{%load static%}
{% block extra_css %}
<link rel="stylesheet" href=" {%static 'tourism.css'%}"> {% endblock extra_css %}
{% block body %}
<div class="main">
    <h1>Belagavi&nbsp;&nbsp;&nbsp;&nbsp;Tourist&nbsp;&nbsp;&nbsp;&nbsp;Attractions</h1>
</div>
<div class="container">
    <div class="mainbox">
        <div class="box">
            <img src="{% static 'img/kamal-basti.jpg'%}" alt="">
        </div>
        <h2>Kamal Basti</h2>
    </div>
    <div class="box2">
        <p> Here are the main attractive points about **Kamalbasti, Belagavi**:<br><br>

            1.Jain Temple: The site is home to a historic Jain temple dedicated to Lord Parshvanatha, a key pilgrimage
            spot for Jains.<br><br>

            2.Architectural Beauty: The temple features intricate Jain architectural designs, with detailed carvings,
            sculptures, and ornate pillars.<br><br>

            3.Religious Significance: Kamalbasti is an important religious center for the Jain community in the region,
            showcasing Karnataka's rich spiritual diversity.<br><br>

            4.Historical Legacy: The site dates back to the 12th century, reflecting the ancient presence of Jainism
            under the patronage of local dynasties like the Rashtrakutas and Chalukyas.<br><br>

            5.Cultural Importance: Kamalbasti represents the rich cultural heritage of the Jain community in Belagavi
            and attracts pilgrims and history enthusiasts.<br><br>

            6.Serene Atmosphere: The temple provides a peaceful retreat for meditation and spiritual reflection, drawing
            visitors for both religious and scenic experiences.</p>
    </div>
</div>
<div class="container">
    <div class="mainbox">
        <div class="box">
            <img src="{% static 'img/ramakrishna.jpg'%}" alt="">
        </div>
        <h2>Ramakrishna Mission Ashram</h2>
    </div>
    <div class="box2">
        <p> The Ramakrishna Mission Ashram <br><br>

            1. Spiritual Atmosphere: The Ashram offers a serene and peaceful environment for meditation, prayer, and
            introspection, making it an ideal place for those seeking spiritual solace.<br><br>

            2. Social Welfare Activities: The Ashram is actively involved in charitable works such as medical camps,
            distribution of food, clothing, and educational support for underprivileged communities, giving visitors an
            opportunity to participate in meaningful service.<br><br>

            3. Cultural and Spiritual Event: The Ashram hosts various cultural and spiritual events, including
            celebrations of major Hindu festivals and Swami Vivekananda's birthday, creating a lively and engaging
            atmosphere.<br><br>

            4. Library and Learning: The Ashram has a well-stocked library with books on Vedanta, spirituality, and
            philosophy, offering a great opportunity for those interested in deeper spiritual studys.<br><br>

            5. Community Engagement: The Ashram’s focus on both spiritual and social development helps foster a
            sense of community. Visitors can connect with like-minded individuals who share the same interests in
            service and spiritual practice.<br><br>
        </p>
    </div>
</div>
<div class="container">
    <div class="mainbox">
        <div class="box">
            <img src="{% static 'img/yallurfort.jpg'%}" alt="">
        </div>
        <h2>Yellur Fort</h2>
    </div>
    <div class="box2">
        <p> Yellur Fort Belagavi: <br><br>

            1. Historical Significance: Built during the Maratha era in the 18th century, the fort played a role in defending the region from invaders. It has connections to both the Maratha Kingdom and the British East India Company.<br><br>
            
            2. Architecture: The fort features stone walls, gates, watchtowers, and bastions, though much of it is in a ruined state today. It offers a simple yet strategic design.<br><br>
            
            3. Scenic Location: Situated atop a small hill, the fort provides a panoramic view of the surrounding lush green fields and countryside, making it a beautiful spot for nature lovers.<br><br>
            
            4. Quiet and Less Crowded: Unlike other well-known forts, Yellur Fort is less crowded, offering a peaceful experience for visitors who enjoy quiet, off-the-beaten-path locations.<br><br>
            
            5. Trekking and Adventure: Visitors can enjoy a light trekking experience to reach the fort, making it appealing for those who love nature and a bit of adventure.<br><br>
            </p>
    </div>
</div>
<div class="container">
    <div class="mainbox">
        <div class="box">
            <img src="{% static 'img/_suvarna-vidhana-soudha2.jpg'%}" alt="">
        </div>
        <h2>Suvarna Vidhana Soudha</h2>
    </div>
    <div class="box2">
        <p>Suvarna Vidhan Soudha Belagavi: <br><br>

            1. Majestic Architecture: The building is an architectural marvel, combining traditional Indian and modern designs, with a central dome, intricate carvings, and tall columns, similar to Bengaluru's Vidhana Soudha.<br><br>
            
            2. Legislative Importance: It serves as the temporary seat of the **Karnataka Legislative Assembly** during the winter sessions, making it a key political landmark in the state.<br><br>
            
            3. Symbol of North Karnataka: The Suvarna Vidhan Soudha symbolizes the political empowerment of North Karnataka, bringing the state's legislative processes closer to the northern region.<br><br>
            
            4. Impressive Lighting: The building is beautifully illuminated at night, making it a stunning sight and a popular spot for photography.<br><br>
            
            5. Tourist Attraction: The grand structure and surrounding gardens attract tourists, offering a blend of political significance and scenic beauty.<br><br>
            
            6. Spacious Surroundings: Located on the outskirts of Belagavi, the building is set amidst well-maintained gardens and wide avenues, providing a peaceful environment for visitors.<br><br>
         </p>
    </div>
</div>
<div class="container">
    <div class="mainbox">
        <div class="box">
            <img src="{% static 'img/kamal-basti.jpg'%}" alt="">
        </div>
        <h2>Kamal Basti</h2>
    </div>
    <div class="box2">
        <p> Here are the main attractive points about **Kamalbasti, Belagavi**:<br><br>

            1.Jain Temple: The site is home to a historic Jain temple dedicated to Lord Parshvanatha, a key pilgrimage
            spot for Jains.<br><br>

            2.Architectural Beauty: The temple features intricate Jain architectural designs, with detailed carvings,
            sculptures, and ornate pillars.<br><br>

            3.Religious Significance: Kamalbasti is an important religious center for the Jain community in the region,
            showcasing Karnataka's rich spiritual diversity.<br><br>

            4.Historical Legacy: The site dates back to the 12th century, reflecting the ancient presence of Jainism
            under the patronage of local dynasties like the Rashtrakutas and Chalukyas.<br><br>

            5.Cultural Importance: Kamalbasti represents the rich cultural heritage of the Jain community in Belagavi
            and attracts pilgrims and history enthusiasts.<br><br>

            6.Serene Atmosphere: The temple provides a peaceful retreat for meditation and spiritual reflection, drawing
            visitors for both religious and scenic experiences.</p>
    </div>
</div>
{% endblock body %}